.jekyll-crypto {
  form {
    @extend .form-inline;

    input[type=password] {
      @extend .form-control;
    }

    input[type=submit] {
      @extend .btn;
      @extend .btn-primary;
    }
  }
}
