$print-page-size: a4;

$enable-print-styles: true;
$enable-responsive-font-sizes: true;

$font-family-sans-serif: Saira, sans-serif;

$cyan: #13fefe;
$magenta: #f206f9;

$primary: $magenta;
$secondary: $cyan;
